<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">



</head>
<div id = "indexPage">
<h1 class = "text-center mt-3">Articles Listing Page</h1>

<table>
  <thead>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th colspan = "3">Actions</th>
  </tr>
  </thead>

  <thbdy>

    <% @articles.each do |article| %>
      <div class = "container">
        <div class = "row justify-content-md-center">
          <div class = "col-8 mt-3 mb-5">
            <div class="shadow mb-5 bg-white rounded">
            <div class="card text-center">
          <div class="card-header" id = "cardHeader">
            By Ronak Vimadalal
          </div>
          <div class="card-body ">
            <h5 class="card-title"><%= link_to article.title, article_path(article), class: "link-success"%></h5>
            <p class="card-text"><%= truncate(article.description, length: 100) %></p>
            <%= link_to 'Show', article_path(article), method: :get , class: "btn btn-outline-success"%>
            <%= link_to 'Edit', edit_article_path(article) , class: "btn btn-outline-primary"%>
            <%= link_to 'Delete', article_path(article), method: :delete,
                        data: { confirm: "Are you sure?" }  , class: "btn btn-outline-danger"%>
          </div>
          <div class="card-footer text-muted">
            <small>Created <%= time_ago_in_words(article.created_at) %> ago,
              edited <%= time_ago_in_words(article.updated_at) %> ago</small>          </div>
            </div>
        </div>
          </div>
          </div>
      </div>

      <tr>

        <td><%= article.title %></td>
        <td><%= article.description %></td>
        <td><%= link_to 'Show', article_path(article), method: :get %></td>
        <td><%= link_to 'Delete', article_path(article),
                        method: :delete,
                        data: { confirm: "Are you sure?" } %></td>
        <td><%= link_to 'Edit', edit_article_path(article)
                         %></td>
      </tr>
      <% end %>
  </thbdy>
  <h>Want to add a new article ?</h>
  <%= link_to 'Add new article', '/articles/new'%>
</table>
</div>